.body{background-color:#F7F2E0;}
.login-box-t{background-color:#000;padding:30px 40px 30px 40px;margin-top:100px;margin-bottom:100px;opacity:0.92;box-shadow:4px 4px 6px #696969;}
.form-log{width:100%;border-radius:20px;box-shadow:none;border:0px;padding:8px 12px 8px 12px;background-color:#6E6E6E;color:#fff;background: rgb(54, 25, 25);background: rgba(190, 225, 195, .4);}
.btn2{border-radius:20px;border:0px;padding:8px;}
.version-t{color:#f8f8f8;margin-top:0px;font-size:8pt;text-align:center;margin-top:50px;padding-top:5px;border-top:1px solid #696969;}
.wrapper-t{margin-left:100px;}
.left-nav-t{width:100px;margin-left:-100px;height:100%;position:fixed;background-color:#58ACFA;z-index:0;}
.sidebar-t{list-style:none;}
.sidebar-t li{width:100px;margin-left:-40px;text-align:center;}
.sidebar-t li a{padding:10px;font-size:30px;display:block;text-decoration:none;color:#f8f8f8;}
.sidebar-t li a:hover{color:#ffffff;background-color:#0489B1;}
.sidebar-t .active{color:#ffffff;background-color:#0489B1;}
.nav-text-t{font-size:8pt;margin-left:-3px;}
.box-frame-t{padding:10px;}
.box-t{border:1px solid #E6E6E6;padding:20px;min-height:100px;}
.box-text-t{color:#696969;font-weight:bold;}
.pad-t{padding:30px;}
.icon-l-t{font-size:30pt;}
.wrapper-k-t{margin-left:350px;}
.nav-t{padding:0px 20px 0px 20px;background-color:#58ACFA;}
.navbar-default .navbar-nav > li > a{color:#fff;font-size:8pt;}
.navbar-default .navbar-nav > li > a:hover{color:#fff;background-color:#0489B1;}
.navbar-default .navbar-header > a,
.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-header > a:active,
.navbar-default .navbar-header > a:focus{color:#fff;font-size:10pt;}
.left-nav-k-t{overflow:scroll;width:350px;margin-left:-350px;height:100%;position:fixed;background-color:#f8f8f8;z-index:0;box-shadow:2px 2px 4px #696969;}
.right-content-k-t{margin-top:50px;}
.image-t{height:20%;}
.img-t{max-height:200px;}
.error{color:red;}

.tengah
{
	min-height: 95%;
    min-height: 95vh;
		background-color: inherit;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
	-moz-background-size:cover;
	margin-top:px;
}
.item-tengah
{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
.imgs{
	transition:0.5s;
	background-color:rgba(0,0,0,0.59);

}
.imgs:hover{
	background-color: rgba(53,126,213,1.00);
	transition: ease-in-out 0.5s;
}
.imgs2{
	transition:0.5s;
	background-color:rgba(0,0,0,0.59);

}
.imgs2:hover{
	background-color:rgba(196,94,189,1.00);
	transition: ease-in 0.5s;

}
.nama{
	font-family:"Grand Hotel";
	color:#dddddd;
}
.judul{
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 2.571rem;
	line-height: 3rem;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 6px solid rgba(203, 181, 66, 0.98);
	padding-bottom: 20px;
}
.judulxx1{
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 2.571rem;
	line-height: 3rem;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 6px solid rgba(66, 141, 203, 0.98);
	padding-bottom: 20px;
}
.judulf1{
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 1.571rem;
	line-height: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 3px solid rgba(85, 203, 66, 0.98);
	padding-bottom: 10px;
}
.judulf2{
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 1.571rem;
	line-height: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 3px solid rgba(66, 137, 203, 0.98);
	padding-bottom: 10px;
}
.judulf3{
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 1.571rem;
	line-height: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 3px solid rgba(233, 148, 34, 0.98);
	padding-bottom: 10px;
}
.judulrf{
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	font-size: 1.571rem;
	line-height: 1rem;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 3px solid rgba(203, 66, 66, 0.98);
	padding-bottom: 10px;
}
.thumb-image{float:left;width:100px;position:relative;padding:5px;}

.container-fluid{
	padding:0;
	margin:0;
}
.header{
	width: 100%;
	height:100%;
	background-image: url('../img/28.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment:inherit;
	/*background-color: rgba(33, 33, 33, 0.71);*/

}
.bg-ireng{
}

.wrappet-card{
	background-color: #31588e;
	padding: 15px;
    margin: 0 210px;
}

.wrapper {
	background-color: white;
	color: black;
	display: flex;
	flex-flow: row nowrap;
	min-height: 100%;
	width: 300px;
	border-radius: 10px;
}

.icon {
	align-self: center;
	background-color: yellow;
	color: black;
	flex: 1 1 auto;
	font-size: 32px;
	padding: 20px;
}

.content {
	background-color: lightgreen;
	color: black;
	flex: 12 1 auto;
	padding: 20px;
}